/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

.text-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* select all */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common style */
.container{
    max-width: 1320px;
    width: 90%;
    margin: 80px auto;
}
.btn-primary{
    color: #eeda8a;
    background-color: transparent;
    padding: 8px 22px;
   border: 2px solid #eeda8a;
   border-radius: 7px;
}

/* header section */
nav{
    background-color: #1E1E1E;
    padding: 3px;
    position: fixed;
    top: 0;left: 0;
    right: 0;
}
nav a{
    text-decoration: none;
    color: #757575;
    font-size: 14px;
}

.hero{
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../assets/images/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    height: 420px;
    margin-top: 40px;
}
.hero-content{
    /* Group 99 */
    width: 315px;
    height: 180px;
    text-align: center;
    margin: auto;
    padding: 100px 0;

}
.hero-subtitle{
    color: #757575;
    font-size: 22px;
    margin-bottom: 20px;
}
.hero-title{
    color: white;
    font-size: 40px;
}

/* category section */

#category{
    max-width: 803px;
    width: 400px;
    margin:  60px auto ;
}
.cat-main-title{
    color: rgb(255, 0, 0);
    font-size: 44px;
    font-weight: 700;
    line-height: 107px;
    text-align: center;
}
.cat-sub-tile{
    color: rgb(255, 0, 0);
    font-size: 14px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}

.cat-title {
    color: rgb(7, 2, 17);
    font-size: 24px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}
.category-img{
    width: 400px;
    height: 250px;
    border: 2px dashed #757575;
    margin-top: 8px;
    border-radius: 4px;
}

/* midnight party start */
.midnight-party-wrap{
    padding: 120px;
    height: 460px;
    background-image: linear-gradient(90deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../assets/images/Vectorrr.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.section-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 38px;
    font-weight: 900;
    line-height: 52px;
    letter-spacing: 11%;
}
.midnight-party-desc{
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0;
}
.leftside-col{
    flex: 50%;
}
.rightside-col{
    flex: 50%;
    position: relative;
}
.rightside-col img{
    position: absolute;
    right: 0;
    top: -130px ;
    text-align: right;
    max-width: 343px;
    width: 200px;
    height: 290px;
}
.join-btn:hover{
    color: black;
    background-color: #eeda8a;
    transition: 0.7ms;
}

/* join now sec start */
#join-now{
    border-radius: 16px;

}
.joinnow-sec-wrap{
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    border-radius: 10px;
    height: 482px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;


}
.joinnow-sec-wrap p{
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
}
.joinnow-sec-wrap p>span{
    color: #FF0000;
}
.joinnow-sec-wrap .join-now-sec-btn{
    color: white;
    background-color: #FF0000;
    padding: 12px 26px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

/* new offer section start */
.new-offer-wrap{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.new-offer-wrap .left-col>h4{
    color: #FF0000;
    font-size: 16px;
}
.new-offer-wrap .left-col>h2{
    color: black;
    font-size: 26px;
    margin: 15px 0;
}
.new-offer-wrap .left-col>p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}
.new-offer-wrap .middle-col >.middle-col-img>img{
    width: 185px;
    border: 5px solid #FF0000;
    border-radius: 100%;
    margin: 30px;
    padding: 9px;
}
.new-offer-wrap .right-col{
    position: relative;
}
.new-offer-wrap .right-col>h2{
    color: rgb(255, 0, 0);
    font-size: 26px;
    font-weight: 700;
    line-height: 58px;
}
.new-offer-wrap .right-col>p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}
.new-offer-wrap .right-col>img{
    /* Group */
    position: absolute;
    width: 100px;
    right: 85px;
}
.holiday-wrap .holiday-content{
    text-align: center;
}
.holiday-wrap .holiday-content > h2{
    font-size: 38px;
    font-family: Merriweather;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
    margin: 17px 0;
}
.holiday-wrap .holiday-content>p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
.holiday-wrap .holiday-content > h2>span{
    color: #FF0000;
}
.holiday-desc{
    color: rgba(7, 2, 17, 0.6);
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    margin: 25px 0;
}

.holiday-img-wrap{
    display: flex;
    justify-content: space-between;
}
.holiday-img-wrap img{
    width: 50%;
}
.holiday-mix-color{
    position: relative;
}
.holiday-mix-color .solid-color-bottom img{
    width: 100%;
    height: 120px;
}
.holiday-mix-color .discound-sale{
    position: absolute;
    bottom: 35%;
    right: 42%;
}
.holiday-mix-color .discound-sale>img{
    width: 200px;
}